<hr>
<section class="post-comments" id="comments">
  <h2>Leave a comment:</h2>

  <script src="https://cdn.fastcomments.com/js/embed-v2.min.js"></script>
  <div id="fastcomments-widget"></div>
  <script>
      FastCommentsUI(document.getElementById('fastcomments-widget'), {
          tenantId: 'R7qAwRilYB'
      });
  </script>

</section>
<hr>
