<div class="grid grid-cols-1 md:grid-cols-4 grid-flow-row gap-4"></div>
<div class="grid grid-cols-1 md:grid-cols-4 grid-flow-row gap-12"></div>
<div class="grid grid-cols-1 md:grid-cols-2 grid-flow-row gap-12"></div>
<div class="home-template">
    <div class="cols-3 wide">
        <div class="col-2"></div>
    </div>
    <div class="cols-4 wide align-items-center">
        <div class="kg-card kg-image-card">
            <img src="" alt="">
        </div>
    </div>
</div>
<div class="text-justify"></div>