{{!< default}}
{{!-- Header section --}}
{{> header}}
<header class="post-header">
	<div class="inner">
		<div class="box blog-box">
			<h1 class="blog-name">Knowledgebase</h1>
			<span class="blog-description">Learn how to get the most out of Content Harmony.</span>
		</div>
	</div>
</header>

<div id="index" class="">

	<main class="content" role="main">

      <div class="inner">
        <section class="post-content">
					<h2>Getting Started:</h2>
					<h4 class="mb-1">⭐️&nbsp;<a href="{{@site.url}}/docs/setting-up-projects/">Setting Up Projects</a></h4>
					<p>In this article, we'll walk through how to set up your Project structure.</p>

					<h4 class="mb-1">⭐️&nbsp;<a href="{{@site.url}}/docs/how-to-build-content-briefs-using-content-harmony/">How to build content briefs using Content Harmony</a></h4>
					<p>If you're a content strategist or SEO building briefs for your writers and content team, we'll show you how to build awesome briefs.</p>

					<h4 class="mb-1">⭐️&nbsp;<a href="{{@site.url}}/docs/what-workflow-do-you-recommend/">What workflow do you recommend for Keyword Reports, Content Briefs, and the Content Grader?</a></h4>
					<p>Content Harmony is very much a tool designed to help your content production workflow, so let's look at how it was built for just that.</p>

					<h4 class="mb-1">⭐️&nbsp;<a href="{{@site.url}}/docs/quick-start-guide-video/">Quick Start Guide & Video</a></h4>
					<p>A 5-minute walk through of the Content Harmony platform and how to get started.</p>

					<div class="tile">
						<h3 class="text-center">🙋 Need some help?</h3>
						<p><strong>For Support:</strong> Reach out to us via live chat, or email support at content harmony dot com.</p>
						<p>Feel free to reach out with questions on features, bugs, how to use the app, scheduling team training sessions, etc.</p>
					</div>
					<hr>
					<br>
					<h2 class="text-center">More Docs & Resources:</h2>
					<br>
				</section>
			</div>

		{{> "loop_docs"}}

	</main>

</div>
