{{!< default}}
  {{!-- Header section --}}
  {{> header}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

{{!-- Big conditional tag depending on page type --}}
{{!-- These can be broken out into more specific page design partials in the future if needed --}}

{{#has tag="articles,blog,updates,content marketing examples,videos"}}
	{{> single_full}}
{{else has tag="docs,careers,events,offers,services,team,tools"}}
	{{> single_simple}}
{{else}}
	{{!-- catchall in case we add future tag systems that need it --}}
	{{> single_simple}}
{{/has}}

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
  $(document).ready(function () {
		var viewport = $(window);
		var post = $('.post-content');
		// Responsive videos with fitVids
    post.fitVids();
		// Format code blocks and add line numbers
		function codestyling() {
	    $('pre code').each(function(i, e) {
				// Code highlight
	      hljs.highlightBlock(e);
	      // No lines for plain text blocks
	      if (!$(this).hasClass('language-text')) {
	        var code = $(this);
					// Calculate amount of lines
	        var lines = code.html().split(/\n(?!$)/g).length;
	        var numbers = [];
	        if (lines > 1) {
	          lines++;
	        }
	        for (i = 1; i < lines; i++) {
	          numbers += '<span class="line" aria-hidden="true">' + i + '</span>';
	        }
	        code.parent().append('<div class="lines">' + numbers + '</div>');
	      }
	    });
	  }
	  codestyling();
		// Reading progress bar on window top
	  function readingProgress() {
			var postBottom = post.offset().top + post.height();
			var viewportHeight = viewport.height();
      var progress = 100 - (((postBottom - (viewport.scrollTop() + viewportHeight) + viewportHeight / 3) / (postBottom - viewportHeight + viewportHeight / 3)) * 100);
      $('.progress-bar').css('width', progress + '%');
      (progress > 100) ? $('.progress-container').addClass('complete'): $('.progress-container').removeClass('complete');
	  }
	  readingProgress();
		// Trigger reading progress
	  viewport.on({
	    'scroll': function() {
	      readingProgress();
	    },
	    'resize': function() {
	      readingProgress();
	    },
	    'orientationchange': function() {
	      readingProgress();
	    }
	  });
</script>
{{/contentFor}}
