{{!< default}}
<header class="blog-header">
	<div class="inner">
		<div class="box blog-box">
			<h1 class="blog-name">Content Marketing Videos</h1>
			<span class="blog-description">Our favorite content marketing tips, presentations, and more.</span>
		</div>
	</div>
</header>

<div id="index" class="container">

	<main class="content" role="main">
		<div class="innerwide">
			<div class="post-content">
				<h2>Content Marketing Quick Tips Videos</h2>
				<div class="cols-4 wide">
					<div class="col-1">
						<p>You can check out all of our short content marketing tips videos on this Youtube Playlist, or by <a href="https://www.linkedin.com/in/kanejamison/">following/connecting with Kane on LinkedIn</a>.</p>
					</div>
					<div class="col-3">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLpWBq15pA8IStE-3Nldk__oulkN04PhRQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>

				<hr>
				<br>
			</div>
		</div>


		{{> "loop"}}


		<div class="innerwide">
			<div class="post-content">
				<br>
				<hr>
				<h2>Other Content Marketing Tools We Like</h2>

				<h3>Content Ideas:</h3>
				<ul>
				<li><a href="http://seogadget.com/content-strategy-generator-tool-v2-update/">SEOGadget&#8217;s Content Strategy Generator Tool</a></li>
				<li><a href="http://ubersuggest.org/">Ubersuggest</a></li>
				<li><a href="https://serps.com/tools/keywords">SERP.com&#8217;s Keyword Exploration Tool</a></li>
				</ul>
				<h3>Curation Ideas and Monitoring Tools:</h3>
				<ul>
				<li><a href="http://bottlenose.com/">Bottlenose</a></li>
				<li><a href="http://www.google.com/alerts">Google Alerts</a></li>
				<li><a href="http://getprismatic.com/">Prismatic</a></li>
				</ul>
				<h3>Outreach:</h3>
				<ul>
				<li><a href="http://www.boomeranggmail.com/">Boomerang</a></li>
				<li><a href="http://www.linkstant.com/">Linkstant</a></li>
				<li><a href="http://www1.toutapp.com/">Tout</a></li>
				</ul>
				<h3>Data Visualization:</h3>
				<ul>
				<li><a href="http://infogr.am/">infogr.am</a></li>
				<li><a href="https://www.lucidchart.com/">Lucidchart</a></li>
				<li><a href="http://piktochart.com/">Piktochart</a></li>
				<li><a href="http://timeline.verite.co/">Timeline.js</a></li>
				</ul>
				<h3>Video:</h3>
				<ul>
				<li><a href="http://www.powtoon.com/">PowToon</a></li>
				<li><a href="http://www.screenr.com/">Screenr</a></li>
				<li><a href="http://wistia.com/">Wistia</a></li>
				</ul>
				<h3>Social Media Analytics:</h3>
				<ul>
				<li><a title="Google Analytics" href="http://www.google.com/analytics/">Google Analytics</a></li>
				<li><a href="https://socialcrawlytics.com/">Social Crawlytics</a></li>
				</ul>
				<h3>Twitter Tools:</h3>
				<ul>
				<li><a href="http://bufferapp.com/">Buffer</a></li>
				<li><a href="https://followerwonk.com/">FollowerWonk</a></li>
				<li><a href="http://hootsuite.com/">Hootsuite</a></li>
				<li><a href="http://www.tweetdeck.com/">Tweetdeck</a></li>
				</ul>
				<h3>Technical SEO Tools:</h3>
				<ul>
				<li><a href="http://geoffkenyon.com/how-to-use-wildcards-robots-txt/">Robots.TXT Cheat Sheet</a></li>
				<li><a href="http://wheregoes.com/">WhereGoes.com</a></li>
				</ul>
			</div>
		</div>
	</main>

</div>
