/* ==========================================================================
   Globl
   ========================================================================== */
html {
    @apply overflow-x-hidden;
    font-size: 62.5%;
}

.menu-active body,
html.menu-active {
    @apply overflow-y-hidden;
}

body {
    @apply font-normal overflow-x-hidden bg-white;
    font-family: var(--font-primary);
    font-size: 1em;
    line-height: 1.75em;
    color: #222426;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: darkdisabled) {
    body {
        background: #222426;
        color: #e1e3e6;
    }
}

button,
input,
select,
textarea {
    transition: all ease-out 0.2s;
}

hr {
    @apply block w-full border-0;
    height: 8px;
    margin: 3em 0;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 119 6'%3E%3Cpath d='M119 3.8c-60 3.5-33.5-7-119 0' fill='none' stroke='%23e1e3e6' stroke-width='3'/%3E%3C/svg%3E") center/5em 100% repeat-x;
}

hr.small {
    @apply ml-auto mr-auto;
    padding: 0 30%;
    background-clip: content-box;
    width: 200px;
}

.d-none {
    @apply hidden;
}

.post-content {
    font-size: 1.75em;
    line-height: 2em;
}

.post-content a {
    @apply font-normal;
    color: inherit;
    text-decoration: none;
    box-shadow: inset 0 -2px 0 var(--color-primary);
    transition: all ease-out 0.1s;
}

.post-content a:focus,
.post-content a:hover {
    box-shadow: inset 0 -3px 0 var(--color-primary-active);
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    @apply mt-0 mx-0 mb-16 text-black;
    line-height: 1.25em;
    text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: darkdisabled) {

    .post-content h1,
    .post-content h2,
    .post-content h3,
    .post-content h4,
    .post-content h5,
    .post-content h6 {
        @apply text-white;
    }
}

.post-content h1,
.post-content .h1 {
    @apply text-6xlp;
    text-indent: -1px;
}

.post-content h2,
.post-content .h2 {
    @apply text-5xl;
    text-indent: -1px;
}

.post-content h3,
.post-content .h3 {
    font-size: 2.4rem;
}

.post-content h4,
.post-content .h4 {
    @apply text-2xl;
}

.post-content h5,
.post-content .h5,
.post-content h6,
.post-content .h6 {
    @apply text-2xl font-medium;
}

.post-content h1 a,
.post-content h2 a,
.post-content h3 a,
.post-content h4 a,
.post-content h5 a,
.post-content h6 a {
    font-weight: inherit;
}

.post-content p {
    @apply mt0 mx-0 mb-16;
    font-family: var(--font-secondary);
}

.post-content ol,
.post-content ul {
    @apply mt-0 mx-0 mb-16 box-border;
    font-family: var(--font-secondary);
    padding-left: 2em;
}

.post-content ul {
    list-style: none;
}

.post-content li {
    @apply relative;
}

.post-content ol>li:before,
.post-content ul>li:before {
    @apply absolute font-medium text-right;
    width: 1.5em;
    margin-left: -2em;
    font-size: 1em;
    line-height: 2em;
    color: var(--color-primary);
    font-family: var(--font-primary);
}

.post-content ul>li:before {
    margin-top: -1px;
    content: "→";
}

.post-content ol {
    @apply list-none;
    counter-reset: item;
}

.post-content ol>li:before {
    content: counter(item) ". " !important;
    counter-increment: item;
}

.post-content ol ol,
.post-content ol ul,
.post-content ul ol,
.post-content ul ul {
    padding-left: 30px;
    margin: 15px 0;
}

.post-content blockquote {
    @apply mt-0 mx-0 mb-16 italic font-normal box-border;
    font-family: var(--font-secondary);
    padding: 0.25em 1em;
    -moz-box-sizing: border-box;
    border-left: 0.25em solid var(--color-primary);
}

.post-content blockquote * {
    margin: 0 0 1em;
    font-family: inherit;
    color: inherit;
}

.post-content blockquote *:first-child {
    @apply mt-0;
}

.post-content blockquote *:last-child {
    @apply mb-0;
}

.post-content em,
.post-content i {
    @apply italic;
}

.post-content b,
.post-content strong {
    @apply font-bold;
}

@media (prefers-color-scheme: darkdisabled) {

    .post-content b,
    .post-content strong {
        color: #c4c7cc;
    }
}

.post-content .small {
    font-size: 0.9em;
}

.post-content dl {
    @apply mt-0 mx-0 mb-16;
    font-family: var(--font-secondary);
    padding-left: 30px;
}

.post-content dl dt {
    @apply font-bold leading-1-25em;
    font-size: 0.75em;
    margin-bottom: 0.33334em;
}

.post-content dl dt:before {
    @apply no-content absolute;
    width: 1em;
    height: 1px;
    margin-left: -30px;
    margin-top: 0.5em;
    background: #c4c7cc;
}

.post-content dl dd {
    @apply ml-0;
    margin-bottom: 1em;
}

.post-content mark {
    background-color: #ffc336;
}

.post-content code,
.post-content tt {
    @apply relative whitespace-pre-wrap py-1 px-2;
    position: relative;
    margin: 0 1px;
    font-family: monospace, sans-serif;
    font-size: 0.75em;
    background: #f7f8fa;
    border: 1px solid #e1e3e6;
    top: -2px;
}

@media (prefers-color-scheme: darkdisabled) {

    .post-content code,
    .post-content tt {
        background: #222426;
        border-color: #3b3d40;
    }
}

.post-content pre {
    @apply relative mt-0 mx-0 mb-16 overflow-hidden whitespace-pre box-border;
    padding: 1em;
    font-family: monospace, sans-serif;
    background: #f7f8fa;
    border: 1px solid #e1e3e6;
}

@media (prefers-color-scheme: darkdisabled) {
    .post-content pre {
        background: #222426;
        border-color: #3b3d40;
    }
}

.post-content pre .lines {
    @apply absolute h-full left-0 top-0 text-right box-border select-none leading-2em;
    width: 2.66667em;
    padding: 1.33334em 0;
    border-right: 1px solid #e1e3e6;
    color: #73777d;
    font-size: 0.75em;
    background: #f7f8fa;
    -webkit-user-select: none;
}

@media (prefers-color-scheme: darkdisabled) {
    .post-content pre .lines {
        background: #222426;
        border-color: #3b3d40;
    }
}

.post-content pre .lines .line {
    @apply block;
    padding-right: 0.33334em;
}

.post-content pre code,
.post-content pre tt {
    @apply block static top-auto whitespace-pre bg-transparent overflow-x-auto leading-2em border-none;
    margin: -1.33334em -1.33334em -1.33334em 1.33334em;
    padding: 1.33334em;
    font-size: 0.75em;
    vertical-align: inherit;
}

.post-content pre code.language-text {
    margin-left: -1.33334em;
}

.post-content kbd {
    @apply inline-block font-bold;
    margin-bottom: 0.5em;
    padding: 1px 8px;
    border: #e1e3e6 1px solid;
    text-shadow: #fff 0 1px 0;
    font-size: 0.9em;
    background: #f7f8fa;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset;
}

@media (prefers-color-scheme: darkdisabled) {
    .post-content kbd {
        background: #222426;
        border-color: #3b3d40;
    }
}

.post-content table {
    @apply relative w-full max-w-full mt-0 mx-0 mb-16;
    border: 1px solid #e1e3e6;
    background: #f7f8fa;
}

@media (prefers-color-scheme: darkdisabled) {
    .post-content table {
        border-color: #3b3d40;
        background: #222426;
    }
}

.post-content table td,
.post-content table th {
    @apply relative p-6 leading-1-33em;
    font-size: 0.75em;
    border: 1px solid #e1e3e6;
}

@media (prefers-color-scheme: darkdisabled) {

    .post-content table td,
    .post-content table th {
        border-color: #3b3d40;
    }
}

.post-content table th {
    @apply text-left font-medium leading-1-33em;
    letter-spacing: 1px;
    font-size: 0.75em;
    color: #73777d;
}

@media (prefers-color-scheme: darkdisabled) {
    .post-content table th {
        color: #909499;
    }
}

.post-content img {
    @apply block max-w-full h-auto mt-0 mx-0 mb-16;
}

.post-content .fluid-width-video-wrapper {
    @apply mt-0 mx-0 mb-16;
}

.post-content form p {
    @apply mt-0 mx-0 mb-8;
}

.post-content form fieldset {
    @apply border-0 m-0 p-0;
}

.post-content label {
    @apply block mb-2 font-medium;
    font-family: var(--font-primary);
    color: #222426;
}

@media (prefers-color-scheme: darkdisabled) {
    .post-content label {
        color: #e1e3e6;
    }
}

.post-content select,
.post-content textarea,
.post-content input[type="url"],
.post-content input[type="tel"],
.post-content input[type="text"],
.post-content input[type="email"],
.post-content input[type="month"],
.post-content input[type="number"],
.post-content input[type="search"],
.post-content input[type="password"] {
    @apply w-full h-auto p-4 box-border outline-none shadow-none;
    transition: all ease-out 0.1s;
    -webkit-appearance: normal;
    appearance: normal;
    color: #222426;
    border: 1px solid #e1e3e6;
    background: #f7f8fa;
}

@media (prefers-color-scheme: darkdisabled) {

    .post-content select,
    .post-content textarea,
    .post-content input[type="url"],
    .post-content input[type="tel"],
    .post-content input[type="text"],
    .post-content input[type="email"],
    .post-content input[type="month"],
    .post-content input[type="number"],
    .post-content input[type="search"],
    .post-content input[type="password"] {
        color: #e1e3e6;
        border-color: #3b3d40;
        background: #222426;
    }
}

.post-content select:hover,
.post-content textarea:hover,
.post-content input[type="url"]:hover,
.post-content input[type="tel"]:hover,
.post-content input[type="text"]:hover,
.post-content input[type="email"]:hover,
.post-content input[type="month"]:hover,
.post-content input[type="number"]:hover,
.post-content input[type="search"]:hover,
.post-content input[type="password"]:hover {
    border-color: #c4c7cc;
}

@media (prefers-color-scheme: darkdisabled) {

    .post-content select:hover,
    .post-content textarea:hover,
    .post-content input[type="url"]:hover,
    .post-content input[type="tel"]:hover,
    .post-content input[type="text"]:hover,
    .post-content input[type="email"]:hover,
    .post-content input[type="month"]:hover,
    .post-content input[type="number"]:hover,
    .post-content input[type="search"]:hover,
    .post-content input[type="password"]:hover {
        border-color: #909499;
    }
}

.post-content select:focus,
.post-content textarea:focus,
.post-content input[type="url"]:focus,
.post-content input[type="tel"]:focus,
.post-content input[type="text"]:focus,
.post-content input[type="email"]:focus,
.post-content input[type="month"]:focus,
.post-content input[type="number"]:focus,
.post-content input[type="search"]:focus,
.post-content input[type="password"]:focus {
    border-color: var(--color-primary);
}

@media (prefers-color-scheme: darkdisabled) {

    .post-content select:focus,
    .post-content textarea:focus,
    .post-content input[type="url"]:focus,
    .post-content input[type="tel"]:focus,
    .post-content input[type="text"]:focus,
    .post-content input[type="email"]:focus,
    .post-content input[type="month"]:focus,
    .post-content input[type="number"]:focus,
    .post-content input[type="search"]:focus,
    .post-content input[type="password"]:focus {
        border-color: var(--color-primary);
    }
}

.post-content input[type="reset"],
.post-content input[type="submit"],
.post-content input[type="button"],
.post-content button,
.post-content .button {
    @apply block w-full p-4 border-0 box-border font-semibold text-white no-underline text-center cursor-pointer;
    border-radius: 4rem;
    -webkit-appearance: normal;
    appearance: normal;
    transition: all ease-out 0.1s;
    background: var(--color-primary);
}

.post-content input[type="reset"]:hover,
.post-content input[type="submit"]:hover,
.post-content input[type="button"]:hover,
.post-content button:hover,
.post-content .button:hover {
    background: var(--color-primary-active);
}

.post-content input[type="reset"]:focus,
.post-content input[type="submit"]:focus,
.post-content input[type="button"]:focus,
.post-content button:focus,
.post-content .button:focus {
    background: var(--color-primary-active);
}

.d-none {
    display: none !important;
}

.d-inline {
    display: inline !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-block {
    display: block !important;
}

.d-table {
    display: table !important;
}

.d-table-row {
    display: table-row !important;
}

.d-table-cell {
    display: table-cell !important;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-inline-flex {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}