/* ==========================================================================
   Header
   ========================================================================== */

.blog-header {
    @apply relative hidden bg-blue-700 p-big mb-default text-shadow-default;
}

.blog-header .post-title {
    @apply text-white;
}

.blog-box {
    @apply relative z-10 text-center pb-default;
}

.blog-cover {
    @apply absolute w-full h-full left-0 top-0 flex items-center z-5 cover-bg cover-anim;
}

.blog-cover:after {
    @apply absolute w-full left-0 bottom-0 h-2/3 z-8 no-content;
}

.blog-cover img {
    @apply relative block w-full h-full m-0 object-cover z-6;
}

.blog-name {
    @apply block m-0 p-0 font-bold no-underline text-white text-6em leading-1em;
}

@media (prefers-color-scheme: darkdisabled) {
    .blog-name {
        @apply text-white;
    }
}

@media only screen and (max-width: 960px) {
    .blog-name {
        @apply text-6xlp;
    }
}

.blog-description {
    @apply block mt-4 p-0 text-white text-3em leading-1_33em font-secondary;
}

@media (prefers-color-scheme: darkdisabled) {
    .blog-description {
        @apply text-white;
    }
}

@media only screen and (max-width: 960px) {
    .blog-description {
        @apply text-3xl;
    }
}

.archive {
    @apply relative z-10;
}

.archive.archive-box {
    @apply pb-calc-4rem-2vw;
}

.archive .archive-info {
    @apply flex mb-2 text-2em leading-1em;
}

.archive .archive-info .archive-type {
    @apply text-white;
}

.archive .archive-info .archive-count {
    @apply relative ml-12 text-white;
}

.archive .archive-info .archive-count:after {
    @apply absolute -left-8 w-4 top-2/4 no-content height-1px bg-gray-300;
}

.archive .archive-title {
    @apply my-4 mx-0 text-white text-4em leading-1em;
}

.archive .archive-description {
    @apply block my-4 mx-0 text-white text-2em leading-1-5em font-secondary;
}

.archive .archive-links {
    @apply block mt-4 text-2em leading-1-5em;
}

.archive .archive-links a {
    @apply text-white;
    transition: color linear 0.1s;
}

.archive .archive-links a:focus,
.archive .archive-links a:hover {
    @apply text-white;
}

.archive.archive-author {
    @apply pl-64;
}

@media only screen and (max-width: 640px) {
    .archive.archive-author {
        @apply pl-0 pr-40;
    }
}

.archive.archive-author .archive-avatar {
    @apply absolute top-0 left-8 w-40 h-40 hidden;
    border-radius: 8rem;
}

@media only screen and (max-width: 640px) {
    .archive.archive-author .archive-avatar {
        @apply left-auto right-0 top-8 w-32 h-32;
    }
}

.page-wrapper {
    @apply flex flex-col relative pr-0;
    min-height: 100vh;
}

.inner {
    @apply my-0 mx-auto py-0 px-32;
    max-width: calc(64rem + 8vw);
}

@media only screen and (max-width: 640px) {
    .inner {
        @apply py-0 px-12;
    }
}

.innerwide {
    @apply my-0 mx-auto py-0 px-12;
    max-width: 1200px;
}