/* ==========================================================================
   Navigation
   ========================================================================== */

.nav-header {
    @apply absolute top-0 left-0 w-full text-white z-400 transition-all-eo-0_3s;

    .nav-wrapper-control {
        @apply absolute left-0 top-full w-full cursor-pointer hidden box-border text-white z-500 transition-all-l-0_1s;

        .inner {
            @apply flex justify-between;

            a {
                @apply relative block w-full py-8 px-0 leading-8 text-1_8rem transition-all-eo-0_1s text-inherit;

                i {
                    @apply inline-block w-16;
                }
            }
        }

        a.nav-search {
            @apply w-auto text-right;
        }

        a:focus,
        .nav-header .nav-wrapper-control a:hover {
            @apply text-white;
        }
    }

    .nav-wrapper {
        @apply flex py-8 px-16 overflow-hidden nav-height;
    }

    .logo {
        @apply mr-12;

        a {
            @apply block h-16 p-0;

            img {
                @apply block w-auto h-16;
            }
        }
    }

    ul {
        @apply relative flex w-full my-0 mx-auto p-0 list-none;
    }

    ul.nav-meta {
        @apply w-auto justify-end;
    }

    li {
        @apply relative mr-12 text-white;

        button,
        a.button {
            @apply block w-full bg-transparent whitespace-nowrap leading-8 text-white text-center rounded-lg my-0.5 mx-0 py-3 px-5 border-2 border-solid border-white;
        }

        &:last-child {
            @apply mr-0;
        }

        button:focus,
        button:hover,
        a.button:focus,
        a.button:hover {
            @apply bg-button;
        }

        button.cta,
        a.button.cta {
            @apply text-blue-700 bg-white border-2 border-solid border-white;
        }

        button.cta {

            &:focus,
            &:hover,
            a.button.cta:focus,
            a.button.cta:hover {
                @apply bg-gray-100;
            }
        }

        a.button.cta {

            &:focus,
            &:hover {
                @apply bg-gray-100;
            }
        }
    }

    li.active {
        a {
            @apply text-white font-medium;

            &:before {
                @apply absolute w-full left-0 top-0 py-0 px-4 bg-white no-content -ml-4 -mt-8 h-3px;
            }
        }

        a.button {
            @apply p-4 rounded-sm border-2 border-solid border-white;
        }

        a.button.cta {
            @apply bg-white text-blue-700 border-2 border-solid border-white;
        }
    }
}

.nav-close {
    @apply fixed left-0 top-0 w-full h-full hidden z-350 bg-close;
}

.menu-active .nav-header .nav-wrapper-control {
    @apply text-white bg-blue-700;

    a:focus,
    a:hover {
        @apply text-gray-100;
    }
}

.nav-meta li {
    a {
        @apply text-1_75em;
    }

    span {
        @apply hidden;
    }
}

.mobile-logo {
    a {
        @apply py-6 px-0;
    }

    img {
        @apply w-full max-w-300px;
    }
}

.menu-active .mobile-logo {
    @apply hidden;
}

.has-search .nav-meta li.nav-search {
    @apply block-imp;
}

.nav-header li {
    a {
        @apply block py-4 px-0 leading-8 text-white whitespace-nowrap no-underline font-normal cursor-pointer overflow-ellipsis text-1_6em transition-cl-0_1s;

        &:focus,
        &:hover {
            @apply text-white;
        }
    }
}

.nav-sign-up {
    @apply ml-8;
}

.nav-meta li {
    @apply mr-6;
}

.has-search .nav-wrapper-control .nav-search {
    @apply block-imp;
}

.cover-active .nav-wrapper-control a {
    @apply text-nav-wrapper;

    &:focus,
    &:hover {
        @apply text-white;
    }
}

.nav-features {
    @apply ml-auto;
}

// Media Queries - Max Width 960px
@media only screen and (max-width: 960px) {
    .nav-header {
        @apply transform-nav-header;

        .nav-wrapper-control {
            @apply block text-right;
        }

        .nav-wrapper {
            @apply bg-blue-700 flex-col;
        }

        .logo {
            @apply hidden;
        }

        ul {
            @apply flex-col flex-shrink-0 py-8 px-0;
        }

        ul.nav-meta {
            @apply w-full p-0 flex-row-imp;
        }

        li {
            @apply mr-0;

            button,
            a.button {
                @apply py-4 px-0 mt-4 mb-0 mx-0;
            }

            a {
                @apply pl-0 text-center text-1_8em;

                &:before {
                    @apply absolute left-0 top-2/4 bg-transparent hidden no-content w-6 ml-6px -mt-1px rounded-2px h-2px;
                }
            }
        }

        li.active {
            @apply mr-0;

            a {
                @apply text-white;

                &:before {
                    @apply w-0 hidden;
                }
            }
        }
    }

    .menu-active .nav-close {
        @apply block;
    }

    .nav-features {
        @apply ml-0;
    }

    .nav-sign-up {
        @apply ml-0;
    }
}

.menu-active .nav-header {
    @apply transform-nav;
}

// Media Queries - Max Width 640px
@media only screen and (max-width: 640px) {

    .nav-header li a:focus,
    .nav-header li a:hover {
        @apply text-white;
    }

    .nav-meta {
        li {
            @apply flex-grow;
        }

        li.nav-twitter,
        li.nav-facebook {
            @apply hidden;
        }
    }

    .has-search .nav-meta li.nav-search {
        @apply hidden-imp;
    }

    .cover-active .nav-header {
        li.active a {
            @apply text-white;
        }

        li {

            a,
            button:not(.cta) {
                @apply text-white border-white;

                a:focus,
                a:hover,
                button:not(.cta):focus,
                button:not(.cta):hover {
                    @apply text-white border-white;
                }

                button.cta {
                    @apply text-white bg-white;
                }

                button.cta:focus,
                button.cta:hover {
                    @apply bg-white;
                }
            }
        }
    }
}

// Color Scheme - Dark Disable
@media (prefers-color-scheme: darkdisabled) {
    .nav-close {
        @apply bg-nav-close;
    }

    .nav-header {
        .nav-wrapper-control {
            @apply text-white;

            a:focus,
            a:hover {
                @apply text-white;
            }
        }

        li.active a {
            @apply text-white;
        }

        li a {
            @apply text-white;

            &:focus,
            &:hover {
                @apply text-white;
            }
        }
    }
}

// 
@supports (-webkit-backdrop-filter: blur(2rem)) {
    .menu-active .nav-header .nav-wrapper-control {
        @apply bg-nav-wrapper;
    }
}