/* ==========================================================================
   Post
   ========================================================================== */
.post-header {
    @apply relative overflow-hidden bg-blue-700 p-big mb-default text-shadow-default;
}

.post-cover {
    @apply absolute w-full h-full left-0 top-0 flex items-center z-5 cover-bg cover-anim;
}

.post-cover img {
    @apply relative block w-full h-full m-0 object-cover z-6;
}

.post-cover:after {
    @apply absolute w-full h-3/4 left-0 bottom-0 z-8 no-content;
}

.post {
    @apply relative z-10;
}

.post-info {
    @apply relative z-10 flex mb-8 leading-1em text-1_8em;
}

.post-info .post-type {
    @apply text-white;
}

.post-info .post-breadcrumbs {
    @apply relative text-white;
}

.post-info .post-breadcrumbs a {
    @apply text-white;
}

.post-title {
    @apply relative z-10 mt-0 mb-8 mx-0 font-bold text-black leading-1_25em text-4em -text-indent-1px;
}

@media (prefers-color-scheme: darkdisabled) {
    .post-title {
        @apply text-white;
    }
}

@media only screen and (max-width: 960px) {
    .post-title {
        @apply text-5xl hyphens-auto;
    }
}

.post-title a {
    @apply no-underline text-inherit font-w-inherit;
}

.post-header .post-title {
    @apply my-0 mb-16 ml-0 text-white leading-1_25em text-6em;
}

@media only screen and (max-width: 960px) {
    .post-header .post-title {
        @apply text-6xlp;
    }
}

.post-meta {
    @apply font-normal leading-8 text-1_6em;
}

.post-meta a {
    @apply inline-block no-underline text-inherit;
}

.post-meta a:focus,
.post-meta a:hover {
    @apply underline;
}

.post-header .post-meta {
    @apply relative pb-16 z-10 text-white;
}

.post-header .post-meta:after {
    @apply clear-both table no-content;
}

.post-header .post-meta .post-meta-avatars {
    @apply float-left mr-4;
}

.post-header .post-meta .post-meta-avatars:after {
    @apply no-content clear-both table;
}

.post-header .post-meta .post-meta-avatars .post-meta-avatar {
    @apply float-left block align-top w-16 h-16 -mr-4 rounded-full;
}

.post-header .post-meta .post-meta-avatars .post-meta-avatar:last-child {
    @apply mr-0;
}

.post-header .post-meta .post-meta-avatars .post-meta-avatar a {
    @apply h-full;
}

.post-header .post-meta .post-meta-author {
    @apply text-white font-medium m-0;
}

.post-excerpt {
    @apply leading-2em font-secondary text-1_75em;
    margin: 1em 0 0;
}

@media only screen and (max-width: 960px) {
    .post-excerpt {
        @apply text-2xl;
    }
}

.post-content {
    @apply flex flex-col items-center;
}

.post-content > * {
    @apply min-w-full max-w-full box-border;
}

.post-content > *:last-child {
    @apply mb-0;
}

.post-content > *:first-child {
    @apply mt-0;
}

/* ==========================================================================
     Post Info
     ========================================================================== */
.post-footer {
    @apply mt-48 mb-24 mx-0;
}

.post-footer:after {
    @apply clear-both table no-content;
}

.post-info-label {
    @apply font-normal leading-3rem text-1_6em mr-0_75em text-gray-500;;
}

@media (prefers-color-scheme: darkdisabled) {
    .post-info-label {
        @apply text-gray-400;
    }
}

.post-share {
    @apply relative my-0 mx-auto flex content-center mb-1em;
}

.post-share a {
    @apply block w-12 h-12 p-0 text-center no-underline text-white text-1_6em leading-3rem transition-all-e-0_2s rounded-2em mr-0_5em;
}

@media only screen and (max-width: 640px) {
    .post-share a {
        @apply ml-0 mr-0_66em;
    }
}

.post-share a:focus,
.post-share a:hover {
    @apply bg-gray-800;
}

@media (prefers-color-scheme: darkdisabled) {

    .post-share a:focus,
    .post-share a:hover {
        @apply bg-primary;
    }
}

.post-share a:last-child {
    @apply mr-0;
}

.post-share a i {
    @apply text-inherit;
}

.post-share a i:before {
    @apply w-auto h-auto;
}

.post-share .twitter {
    @apply bg-twitter;
}

.post-share .facebook {
    @apply bg-facebook;
}

.post-share .linkedin {
    @apply bg-linkedin;
}

.post-share .email {
    @apply bg-email;
}

.post-tags {
    @apply relative float-left flex flex-wrap max-w-66pr;
}

@media only screen and (max-width: 640px) {
    .post-tags {
        @apply max-w-none float-none mb-8;
    }
}

.post-tags a {
    @apply inline-block py-0 px-6 font-medium text-center no-underline text-white box-border whitespace-nowrap text-1_6em leading-3rem bg-primary transition-all-e-0_2s mb-0_5em mr-0_5em rounded-2em;
}

.post-tags a:focus,
.post-tags a:hover {
    @apply text-primary;
}

/* ==========================================================================
     Post Subscribe
     ========================================================================== */
.gh-post-upgrade-cta .gh-post-upgrade-cta-content {
    @apply bg-primary-imp;
}

.gh-post-upgrade-cta .gh-post-upgrade-cta-content .gh-btn {
    @apply py-4 px-8 rounded-lg font-bold transition-all-eo-0_2s text-white-imp bg-gray-800-imp;
}

.gh-post-upgrade-cta .gh-post-upgrade-cta-content .gh-btn:focus,
.gh-post-upgrade-cta .gh-post-upgrade-cta-content .gh-btn:hover {
    @apply opacity-inherit bg-black-imp;
}

.post-subscribe {
    @apply relative py-16 px-8 my-32 -mx-32 text-white box-border overflow-hidden rounded-sm text-2xl bg-blue-600 bg-post-subs;
}

.post-subscribe h2 {
    @apply leading-normal text-5xl mt-0;
}

.post-subscribe p {
    @apply leading-1_33em text-1_2em mt-0 mx-auto mb-1_33em;
}

.post-subscribe .button {
    @apply bg-white py-4 px-12 my-8 mx-auto block text-center no-underline rounded-sm text-blue-600 w-80p;
}

.post-subscribe .button:hover {
    @apply bg-gray-50;
}

.post-subscribe .cta-image {
    @apply absolute -right-80 top-16 w-70pr;
}

@media only screen and (max-width: 640px) {
    .post-subscribe .cta-image {
        @apply w-full mt-8 position-inherit;
    }
}

@media only screen and (max-width: 640px) {
    .post-subscribe {
        @apply my-16 mx-0;
    }
}

/* ==========================================================================
     Post Nav
     ========================================================================== */
.post-nav {
    @apply relative -mt-1px border-t border-b border-solid border-gray-100;
}

@media (prefers-color-scheme: darkdisabled) {
    .post-nav {
        @apply border-gray-700;
    }
}

.post-nav:after {
    @apply absolute h-full left-1/2 top-0 z-2 no-content bg-gray-100 w-1px;
}

@media (prefers-color-scheme: darkdisabled) {
    .post-nav:after {
        @apply bg-gray-700; 
    }
}

@media only screen and (max-width: 640px) {
    .post-nav:after {
        @apply hidden;
    }
}

.post-nav-next,
.post-nav-prev {
    @apply no-underline block w-1/2 text-inherit;
}

@media only screen and (max-width: 640px) {

    .post-nav-next,
    .post-nav-prev {
        @apply block w-full;
    }
}

.post-nav-next:focus,
.post-nav-next:hover,
.post-nav-prev:focus,
.post-nav-prev:hover {
    @apply text-inherit;
}

.post-nav-next:focus i,
.post-nav-next:hover i,
.post-nav-prev:focus i,
.post-nav-prev:hover i {
    @apply text-primary;
}

.post-nav-next {
    @apply float-left;
}

.post-nav-next .post-nav-teaser {
    @apply pr-12;
}

@media only screen and (max-width: 640px) {
    .post-nav-next .post-nav-teaser {
        @apply pr-0;
    }
}

.post-nav-prev {
    @apply float-right;
}

.post-nav-prev .post-nav-teaser {
    @apply pl-12;
}

@media only screen and (max-width: 640px) {
    .post-nav-prev .post-nav-teaser {
        @apply pl-0;
    }
}

.post-nav-label {
    @apply text-1_3rem text-gray-400;
}

.post-nav-teaser {
    @apply relative py-8 px-0 min-h-8rem;
}

@media only screen and (max-width: 640px) {
    .post-nav-teaser {
        @apply min-h-4em py-2em px-0;
    }

    .post-nav-teaser:after {
        @apply absolute w-full left-0 bottom-0 z-2 no-content h-1px bg-gray-100 -mb-1px border border-solid border-gray-200;
    }
}

@media only screen and (max-width: 640px) and (prefers-color-scheme: darkdisabled) {
    .post-nav-teaser:after {
        @apply bg-gray-700;
    }
}

.post-nav i {
    @apply absolute top-2/4 w-16 h-16 -mt-8 text-center text-6xlp leading-4rem text-gray-100 transition-all-eo-0_2s;
}

@media (prefers-color-scheme: darkdisabled) {
    .post-nav i {
        @apply text-gray-700;
    }
}

.post-nav i:before {
    @apply m-0 w-auto;
}

.post-nav-next i {
    @apply left-0 -ml-16;
}

.post-nav-prev i {
    @apply right-0 -mr-16;
}

.post-nav-title {
    @apply mx-0 mb-1 mt-0 p-0 text-black text-2em leading-3rem text-inherit webkit-box;
    display: -webkit-box;
}

@media (prefers-color-scheme: darkdisabled) {
    .post-nav-title {
        @apply text-white;
    }
}

.post-nav-excerpt {
    @apply mt-0 mx-0 mb-4 leading-10 font-secondary text-1_5em webkit-box-2;
    display: -webkit-box;
}

.post-nav-meta {
    @apply m-0 leading-8 text-1_6em text-gray-500;
}

@media (prefers-color-scheme: darkdisabled) {
    .post-nav-meta {
        @apply text-gray-400;
    }
}

/* ==========================================================================
     Pagination
     ========================================================================== */
.pagination {
    @apply relative m-0;
}

.pagination .pagination-box {
    @apply p-pagi-box;
}

.pagination .pagination-box:after {
    @apply clear-both table no-content;
}

.pagination a {
    @apply relative block h-16 -my-4 mx-0 py-0 px-8 font-medium text-center no-underline box-border z-100 leading-4rem rounded-sm text-1_6em transition-all-e-0_2s border border-solid border-gray-200 text-gray-500;
}

@media (prefers-color-scheme: darkdisabled) {
    .pagination a {
        @apply border-gray-400 text-gray-300;
    }
}

.pagination a:focus,
.pagination a:hover {
    @apply text-primary border-primary;
}

.pagination .pagination-prev {
    @apply float-right pr-6;
}

.pagination .pagination-next {
    @apply float-left pl-6;
}

.pagination .pagination-label {
    @apply relative inline-block -top-1px;
}

@media only screen and (max-width: 480px) {
    .pagination .pagination-label {
        @apply hidden;
    }
}

.pagination a i {
    @apply relative w-auto my-auto mx-1 leading-0_75em text-1_33em text-inherit top-1px;
}

.pagination a i:before {
    @apply relative w-auto m-auto;
}

.pagination .pagination-info {
    @apply absolute w-full h-16 left-0 z-50 block text-center text-1_6em leading-4rem text-gray-500;
}

@media (prefers-color-scheme: darkdisabled) {
    .pagination .pagination-info {
        @apply text-gray-400;
    }
}

.extra-pagination {
    @apply hidden;
}

.paged .extra-pagination {
    @apply block;
}

.paged .extra-pagination .pagination-box {
    @apply border-b border-solid border-gray-100;
}

@media (prefers-color-scheme: darkdisabled) {
    .paged .extra-pagination .pagination-box {
        @apply border-gray-700;
    }
}

post-content input[type="reset"],
.post-content input[type="submit"],
.post-content input[type="button"],
.post-content button,
.post-content .button {
    @apply rounded-sm;
}

.post-content select,
.post-content textarea,
.post-content input[type="url"],
.post-content input[type="tel"],
.post-content input[type="text"],
.post-content input[type="email"],
.post-content input[type="month"],
.post-content input[type="number"],
.post-content input[type="search"],
.post-content input[type="password"],
.post-content input[type="reset"],
.post-content input[type="submit"],
.post-content input[type="button"],
.post-content button,
.post-content .button {
    @apply mb-1em;
}

.post img,
.post img {
    @apply rounded-sm drop-shadow-post-img;
}

.tile {
    @apply mb-8 rounded p-2em border border-solid border-gray-100 shadow-tile;
}

.pricing-box ul>li::before {
    @apply mr-0 no-content position-inherit;
}

.pricing-box ul {
    @apply pl-0 mb-0;
}

.pricing-box ul>li {
    @apply border-b border-solid border-gray-100 py-0_2em px-0;
}

.justify-content-flex-end {
    @apply content-end;
}

.content-marketing-example-metrics {
    @apply text-center;
}

.content-marketing-example-metrics img {
    @apply inline mb-0 max-w-90px;
}

.content-marketing-example-metrics.cme-small img {
    @apply max-w-23pr;
}

.content-marketing-tags ul {
    @apply pl-0 text-center;
}

.content-marketing-tags ul li:before {
    @apply content-none;
}

.author-box {
    @apply text-2xl;
}

.author-box p {
    @apply leading-1_3em text-1_2em;
}

.author-box h4 {
    @apply text-2em;
}

.author-box h4 a {
    @apply no-underline;
}

.author-box .author-picture img {
    @apply max-w-full;
}

.badge {
    @apply inline-block font-bold text-center whitespace-nowrap align-baseline rounded text-85- leading-one py-0_25em px-0_4em;
}

.badge:empty {
    @apply hidden;
}

.btn .badge {
    @apply relative -top-1px;
}

.badge-pill {
    @apply pl-0_6em pr-0_6em rounded-10rem;
}

.badge-primary {
    @apply text-white bg-blue-700;
}

.badge-primary-inverted {
    @apply bg-white text-blue-700 border-2 border-solid border-blue-700;
}

.badge-primary[href]:focus,
.badge-primary[href]:hover {
    @apply text-white no-underline;
    @apply bg-blue-600;
}

.badge-primary-inverted[href]:focus,
.badge-primary-inverted[href]:hover {
    @apply text-white no-underline;
    @apply bg-blue-600;
}

.badge-secondary {
    @apply text-white bg-gray-500;
}

.badge-secondary[href]:focus,
.badge-secondary[href]:hover {
    @apply text-white no-underline bg-gray-600;
}

.badge-success {
    @apply text-white bg-green-500;
}

.badge-success[href]:focus,
.badge-success[href]:hover {
    @apply text-white no-underline bg-green-600;
}

.badge-info {
    @apply text-white bg-info;
}

.badge-info[href]:focus,
.badge-info[href]:hover {
    @apply text-white no-underline bg-info-hover;
}

.badge-warning {
    @apply text-gray-800 bg-yellow-400;
}

.badge-warning[href]:focus,
.badge-warning[href]:hover {
    @apply no-underline text-gray-900 bg-yellow-500;
}

.badge-danger {
    @apply text-white bg-red-500;
}

.badge-danger[href]:focus,
.badge-danger[href]:hover {
    @apply text-white no-underline bg-red-600;
}

.badge-light {
    @apply text-gray-800 bg-gray-50;
}

.badge-light[href]:focus,
.badge-light[href]:hover {
    @apply no-underline text-gray-800 bg-gray-100;
}

.badge-dark {
    @apply text-white bg-gray-700;
}

.badge-dark[href]:focus,
.badge-dark[href]:hover {
    @apply text-white no-underline bg-gray-800;
}

/* ==========================================================================
     Post Comments
     ========================================================================== */
.post-comments {
    @apply relative text-center box-border text-2xl;
}

@media (prefers-color-scheme: darkdisabled) {
    .post-comments {
        @apply border-gray-700;
    }
}

.post-comments.activated {
    @apply bg-gray-50 border border-solid border-gray-200;
}

@media (prefers-color-scheme: darkdisabled) {
    .post-comments.activated {
        @apply bg-gray-800 border-gray-700;
    }
}

.post-comments p {
    @apply text-1_2em leading-1_3em;
}

.post-comments h2 {
    @apply text-2em;
}

.post-comments h2 a {
    @apply no-underline;
}

.post-comments-activate {
    @apply inline-block h-16 my-8 mx-0 py-0 px-8 font-medium text-center cursor-pointer text-1_6em transition-all-e-0_2s rounded-2em border border-solid border-gray-300 text-gray-500;
}

@media (prefers-color-scheme: darkdisabled) {
    .post-comments-activate {
        @apply border-gray-400 text-gray-300;
    }
}

.post-comments-activate:focus,
.post-comments-activate:hover {
    @apply text-primary border-primary;
}

.activated .post-comments-activate {
    @apply hidden;
}